# Packages

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Dataset

In [4]:
df_crime=pd.read_csv("D:\Projects\Analyzing crime in LA\crimes.csv",parse_dates=["DATE OCC","Date Rptd"])

## EDA

In [32]:
df_crime.head(2)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION,crime_hour
0,221412410,2022-06-15,2020-11-12,1700,Pacific,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,NaN,NaN,Invest Cont,13600 MARINA POINT DR,17
1,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV,11

In [30]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247988 entries, 0 to 247987
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         247988 non-null  int64
 1   Date Rptd     247988 non-null  datetime64[ns]
 2   DATE OCC      247988 non-null  datetime64[ns]
 3   TIME OCC      247988 non-null  int32
 4   AREA NAME     247988 non-null  object
 5   Crm Cd Desc   247988 non-null  object
 6   Vict Age      247988 non-null  int64
 7   Vict Sex      215740 non-null  object
 8   Vict Descent  215739 non-null  object
 9   Weapon Desc   80087 non-null   object
 10  Status Desc   247988 non-null  object
 11  LOCATION      247988 non-null  object
 12  crime_hour    247988 non-null  int32
dtypes: datetime64[ns](2), int32(2), int64(2), object(7)
memory usage: 22.7+ MB

### Creating a new column for crime hour

In [27]:
df_crime["TIME OCC"]=df_crime["TIME OCC"].astype(str)

In [26]:
df_crime["crime_hour"]=df_crime["TIME OCC"].str[0:2].astype(int)

In [29]:
df_crime["TIME OCC"]=df_crime["TIME OCC"].astype(int)

### Which hour has the highest frequency of crimes

In [31]:
df_crime["crime_hour"].value_counts()

crime_hour
12    17760
20    16285
18    14471
10    14425
17    14127
      ...
59       14
36       14
27       14
29       12
56       11
Name: count, Length: 83, dtype: int64

In [35]:
peak_crime_hour=12

### Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)

In [36]:
Area_high_crime=df_crime[df_crime["crime_hour"].isin([22,23,24,0,1,2,3])]
Area_high_crime.head(2)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION,crime_hour
9,231207476,2023-02-27,2020-08-15,1,77th Street,BURGLARY,72,M,B,NaN,Invest Cont,8800 HAAS AV,1
36,221314362,2022-07-11,2020-04-07,1,Newton,THEFT OF IDENTITY,53,F,H,NaN,Invest Cont,1600 E OLYMPIC BL,1

In [39]:
peak_area_night=Area_high_crime.groupby("AREA NAME").agg({"crime_hour":"count"}).sort_values("crime_hour",ascending=False)
peak_area_night
peak_night_crime_location="Central"

### Identify the number of crimes committed against victims by age group (0-17, 18-25, 26-34, 35-44, 45-54, 55-64, 65+)

In [44]:
age_labels=["0-17","18-25", "26-34", "35-44","45-54","55-64","65+"]
age_bins=[0,17,25,34,44,54,64,np.inf]
df_crime["victim_ages"]=pd.cut(df_crime["Vict Age"],labels=age_labels,bins=age_bins)

In [45]:
df_crime["victim_ages"].value_counts()

victim_ages
26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: count, dtype: int64